*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

main{
    background-image: url('img/hero-bg.png');
    height: 100vh;
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-size:16px
}

.navbar-links{
    display: flex;
    justify-content: space-around;
}

.nav-button{
    border: 2px solid green;
    padding: 10px;
    background-color: transparent;
    color: green;
    transition: background-color 0.5s ease;
}

.nav-button:hover{
    background-color: green;
}