*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-image: url('img/hero-bg.png');
    height: 100vh;
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a{
    text-decoration: none;
    color: inherit;
}

.navbar-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}