.book-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  gap: 20px;
  padding: 20px;
  color: rgb(161, 252, 255);
  width: 100%;
  background-color: #2f3b3c;
}

.book {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: #000000;
  transition: transform 0.2s;
}


.title {
  font-size: 30px;
  margin-bottom: 8px;
  color: aqua;
}

.author, .year {
  margin: 4px 0;
  padding: 10px;
  color: white;
}
