.para1{
  font-size:5px;
  color: red;
}

.head2{
    color:blue;
    font-size: 60px;
}

.greet{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: gray;  
}

.img{
  width: 200px;
  padding: 10px;
}