*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#fav-colors {
    text-decoration: underline;
    color: darkblue;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px;
    border: 1px solid darkblue;
    background-color: rgb(199, 188, 100);
}

.para-align {
    text-align: center;
    display: block;
}

.span-align{
    display: inline-block;
}

nav ul li {
    list-style-type: none;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

div{
    width: 300px;
    margin: 0 auto;
    background-color: coral;
}

span{
    color:darkblue;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: lightyellow;
    text-decoration: underline;
}

img{
    display: inline;
    height: 200px;
    width: 200px;
}